html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.main {
  background-color: #eff5f5;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.container {
  overflow: hidden;
  margin: auto;
  // height: 100vh;
  height: max-content;
  // max-height: fit-content;
  width: 80vw;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1080px) {
  .container{
    width: 85vw;
  }
}

@media only screen and (min-width: 1530px) {
  .container{
    width: 85vw;
  }
}
