@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0px;
  height: 100vh;
  width: 100%;
}

#about {
  height: 80vh;
  padding-top: 10vh;
}

#hello {
  // font-family: "Barriecito", cursive;
  font-family: "Bungee Shade", sans-serif;
  color: #102c57;
  font-size: 2em;
  margin: 0;
  padding-bottom: 1em;
}

#description {
  text-align: start;
  vertical-align: middle;
  font-size: 0.6em;
  line-height: 1.5;
  // color: #202020;
  color: #102c57;
  // font-family: monospace;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  overflow-x: hidden;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    // transform: translateX(calc(-5em * 16));
  }
}

#program-title {
  // font-family: monospace;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  margin: 0;
  color: #102c57;
}

.programs {
  overflow: hidden;
  white-space: nowrap;
  max-width: 90vw;
  justify-content: center;
  position: relative;
  width: 200%;
  height: auto;
  padding-top: 2.5em;
  margin: 0;
  perspective: 100em;
}

.program-list {
  display: inline-block;
  animation: slide 20s linear infinite;
  perspective: 100px;
}

.programs:hover .program-list {
  animation-play-state: paused;
}

@media only screen and (min-width: 768px) {
  #about {
    height: 100vh;
    padding-top: 10vh;
  }
  #hello {
    padding-bottom: 0;

  }
  #program-title {
    font-size: 1.2em;
  }
  #description {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1080px) {
  #hello {
    font-size: 2.5em;
  }
  #description {
    font-size: 1em;
  }
  #about {
    height: 80vh;
    padding-top: 10vh;
  }
}

@media only screen and (min-width: 1530px) {
  #about {
    height: 80vh;
    padding-top: 20vh;
  }
}
