.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  width: 100vw;
  background-color: #eff5f5;
  z-index: 2;
}

.nav-bar {
  justify-self: center;
  align-self: center;
}

.links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-self: center;
  padding: 0;
}

.link {
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}

.link button {
  font-family: monospace;
  font-size: 1em;
  color: #102c57;
  text-decoration: none;
  border-style: none;
  background-color: #eff5f5;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;}

@media only screen and (min-width: 768px) {
  .link {
    font-size: 1.5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-width: 1080px) {
  .link {
    font-size: 1.5em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
}
