@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0px;
  // min-height: 100vh;
  height: 100vh;
  width: 100%;
  // max-height: max-content;
}

#projects {
  // height: 100vh;
  margin-top: 10%;
}

#projects-title {
  // font-family: "Barriecito", cursive;
  font-family: "Bungee Shade", sans-serif;
  font-size: 2em;
  padding-top: 10vh;
  margin-bottom: 0vh;
  display: block;
  overflow: auto;
  // color: #202020;
  color: #102c57;
}

@media only screen and (min-width: 768px) {
  #projects {
    margin-top: 10vh;
  }
}

@media only screen and (min-width: 1080px) {
  #projects {
    padding-top: 8vh;
  }
  #projects-title {
    padding-top: 0vh;
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1530px) {
  #projects {
    padding-top: 20vh;
    margin-top: 0vh;
  }
  #projects-title {
    margin-top: 0vh;
    padding-top: 0vh;
    font-size: 3em;
  }
}
