.project {
  font-family: monospace;
  // height: 100vh;
  // padding-top: 10vh;
}
#goodKick {
  height: 120vh;
}

#chewout {
  height: 95vh;
}

#kannaKitchen {
  height: 90vh;
}

#forEver {
  height: 30vh;
}

.project-head {
  display: flex;
  flex-direction: row;
  width: max-content;
  text-decoration: none;
}

.project-name {
  width: max-content;
  height: min-content;
  font-size: 1.5em;
  color: #102c57;
  text-decoration: none;
}

.project-links {
  border-style: none;
  background-color: #eff5f5;
  // color: #102c57;
}
.project-contents {
  display: grid;
  max-height: 80%;
}
.project-top {
  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.project-left {
  width: 80vw;
  padding-top: 1em;
}

.project-description {
  font-size: 0.8em;
  line-height: 1.4;
  color: #102c57;
}
.project-notes {
  font-size: 1em;
  color: #102c57;
  padding-top: 0.5em;
  margin: 0%;
}

.notes {
  padding-top: 2%;
  margin: 0%;
  font-size: 0.8em;
  line-height: 1.4;
  color: #102c57;
}

.techs-used {
  font-size: 1em;
  color: #102c57;
  padding-top: 0.5em;
  margin: 0%;
}

.project-techs {
  // display: flex;
  justify-content: space-evenly;
  padding-top: 0.5em;
  margin-top: 0em;
}

.project-links {
}

.project-right {
  display: none;
}

.screenshots-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.screenshot-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.monitor {
  // margin-bottom: 5%;
  width: 100%;
  z-index: 10;
}
.laptop {
  width: 60vw;
}
.mobile-rows {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.mobile {
  padding-left: 5%;
  padding-right: 5%;
  width: 20vw;
}

@media only screen and (min-width: 1080px) {
  #goodKick {
    height: 140vh;
  }

  #chewout {
    height: 120vh;
  }

  #kannaKitchen {
    height: 110vh;
  }

  #forEver {
    height: 80vh;
  }

  .project-name {
    font-size: 2em;
  }
  .project-contents {
    grid-template-columns: repeat(2, 1fr);
    // height: 80vh;
  }

  .project-top {
    display: none;
  }

  .project-left {
    width: 30em;
    padding-top: 0em;
  }
  .project-description {
    font-size: 1em;
    color: #102c57;
  }

  .techs-used {
    font-size: 1.2em;
  }

  .project-notes {
    font-size: 1.2em;
  }
  .notes {
    font-size: 1em;
  }

  .project-right {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    // width: 55em;
    // justify-content: end;
    // margin: auto;
    // align-content: space-between;
  }

  .screenshot-container {
    margin-bottom: 5%;
  }

  .top-project {
    padding-top: 40vh;
  }

  .non-top-projects {
    padding-top: 30vh;
  }

  .resolution-tag {
    font-size: 2em;
    color: #eff5f5;
    background-color: #102c57;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0%;
    padding: 0.5%;
    text-align: center;
    letter-spacing: 5px;
  }

  .monitor {
    padding-top: 0%;
    padding-bottom: 0%;
    width: 50em;
  }
  .laptop {
    padding-bottom: 0%;
    width: 40em;
  }

  .mobile {
    padding-left: 0%;
    padding-right: 0%;
    width: 15em;
  }
}

@media only screen and (min-width: 1530px) {
  #goodKick {
    height: 100vh;
  }

  #chewout {
    height: 80vh;
  }

  #kannaKitchen {
    height: 80vh;
  }

  #forEver {
    height: 80vh;
  }


  .project-name {
    font-size: 2.5em;
  }
  .project-links {
    width: 0;
  }
  .project-contents {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-left {
    width: 30vw;
  }
  .project-description {
    font-size: 1.2em;
    color: #102c57;
  }

  .techs-used {
    font-size: 1.4em;
  }

  .project-notes {
    font-size: 1.4em;
  }
  .notes {
    font-size: 1.2em;
  }

  .project-right {
    width: 40vw;
    // margin: auto;
  }

  .top-project {
    padding-top: 45vh;
  }

  .monitor {
    padding-bottom: 0%;
    width: 70em;
  }
  .laptop {
    padding-bottom: 0%;
    width: 50em;
  }
  .mobile {
    width: 20em;
  }
}
