@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

body {
  margin: 0px;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
}
#home {
  min-height: 100vh;
}

#profile-pic-speech-container {
  display: flex;
  flex-direction: row;
  place-content: center;
}

#profile-pic-container {
  text-align: center;
  justify-content: center;
  justify-items: center;
}
#profile-pic {
  width: 8em;
  padding: 0.5em;
  transition: transform 1s;
  padding-top: 30vh;
}

#adrianman-pic {
  // width: 20em;
  padding: 0.5em;
  transition: transform 1s;
  padding-top: 30vh;
}

#name {
  text-align: center;
  vertical-align: middle;
  // font-size: 2.5em;
  font-size: 2em;
  line-height: 1.5;
  color: #102c57;
  // font-family: "Permanent Marker", cursive;
  // font-family: "Luckiest Guy", cursive;
  // font-family: "Barriecito", cursive;
  // font-family: "Handjet", cursive;
  // font-family: "Ultra", serif;
  // font-family: "Oi", serif;
  // font-family: 'Mate', serif;
  // font-family: 'Gabarito', sans-serif;
  // font-family: 'Yellowtail', cursive;
  // font-family: 'Gochi Hand', cursive;
  // font-family: 'Nothing You Could Do', cursive;
  // font-family: 'Moirai One', cursive;
  font-family: "Bungee Shade", sans-serif;
  margin: 0;
  // padding-top: 3vh;
}

#job {
  text-align: center;
  vertical-align: middle;
  bottom: 33%;
  font-size: 0.8em;
  line-height: 1;
  color: #102c57;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  // padding-bottom: 40%;
}

@media only screen and (min-width: 768px) {
  #profile-pic {
    width: 10em;
  }

  #adrianman-pic {
    width: 20em;
  }
  #name {
    font-size: 4em;
  }
  #job {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1080px) {
  #profile-pic {
    width: 15em;
  }

  #adrianman-pic {
    width: 25em;
  }
  #name {
    font-size: 4em;
  }
  #job {
    font-size: 1.1em;
  }
}
